body{font-size: 40pt;}
.top{height: 150px;background-color: #4bbe97;}
.backp{height: 150px;width: 150px;position: absolute; border: 1px;}
.div3{height: 150px;width: 150px;border: 1px;}
.div4{height: 150px;width: 150px;position: absolute;left: 150px;border: 1px;}
