.decoration
{
	vertical-align: center;
	font-size: 15px;
	font-family: "楷体";
}
.icon
{
	float: left;
	margin-left: 30%;
}
.img1
{
    width: 70%;
    height: auto;
}
.row
{
	margin-top: 60px;
}
#bottom
{
	margin-top: 30px;
}
.main
{
	position: absolute;
	margin-top: -32px;
	margin-left: 10%;
	font-size: 20px;
	font-family: "楷体";
}
