.img
{
	width: 30px;
	height: 30px;
}
.index
{
	float: left;
	margin-left: 20px;
}
.more
{
	float: right;
	margin-right: 20px;
}
.p1
{
	text-decoration: none;
	color: #ffffff;
}
a:hover
{
	text-decoration: none;
}
.foot
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #4682B4;
}
.search
{
	margin-top: 30px;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-left: 18%;
}
.imgone
{
	width: 100px;
	height: 90px;
}
.monthpaper
{
	width: 100px;
	height: 90px;
	margin: 30px auto;
}
.p2
{
	font-size: 18px;
	color: #000000;
	margin: 5px 30px;
}